/* #region General */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Space Mono', monospace;
  font-size: min(5rem, 8vw);
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
  display: grid;
  place-content: center;
}

button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.bg-colorful {
  --bg: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
  --btn-num-bg: rgba(0, 0, 0, 0.55);
  --btn-num-fg: white;
  --btn-operator-bg: rgba(0, 0, 0, 0.4);
  --btn-operator-fg: #fded0a;
  --btn-equals-bg: hsla(39, 100%, 57%, 0.9);
  --btn-equals-fg: rgba(0, 0, 0, 0.8);
  --display-bg: rgba(0, 0, 0, 0.55);
  --display-fg: white;
  --border-radius: 0.3em;
  --box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.2);
}
/* #endregion General */

/* #region Layout */
.calculator-container {
  padding: 0.3em;
  width: min(100vw, 600px);
  height: min(100vmax, 850px);
  display: grid;
  gap: 0.2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'display display display display'
    'plus    minus   times   divide'
    'num7    num8    num9    equals'
    'num4    num5    num6    equals'
    'num1    num2    num3    equals'
    'num0    dot     clear   equals';
}

/* 手機橫向 */
@media (max-width: 812px) {
  @media (orientation: landscape) {
    .calculator-container {
      width: 100vw;
      height: 100vh;
      font-size: min(8vh, 4rem);
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        'display display display display display'
        'num7    num8    num9    plus    times  '
        'num4    num5    num6    minus   divide '
        'num1    num2    num3    equals  equals '
        'num0    dot     clear   equals  equals ';
    }
    p.display {
      padding-bottom: 0.1em;
    }
    p.display::after {
      font-size: 0.3em;
      bottom: min(70%, 6rem);
      right: 1.5em;
    }
  }
}

.calculator-container > * {
  display: grid;
  place-items: center;
}

.display {
  grid-area: display;
  place-items: end;
  font-size: 0.95em;
  padding-bottom: 0.2em;
  padding-right: 0.3em;
  font-family: 'Inconsolata', monospace;
  position: relative;
}

.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.times {
  grid-area: times;
}

.divide {
  grid-area: divide;
}
.equals {
  grid-area: equals;
}
.num9 {
  grid-area: num9;
}
.num8 {
  grid-area: num8;
}
.num7 {
  grid-area: num7;
}
.num6 {
  grid-area: num6;
}
.num5 {
  grid-area: num5;
}
.num4 {
  grid-area: num4;
}
.num3 {
  grid-area: num3;
}
.num2 {
  grid-area: num2;
}
.num1 {
  grid-area: num1;
}
.dot {
  grid-area: dot;
}
.clear {
  grid-area: clear;
}
/* #endregion Layout */

/* #region Calculator */
.calculator-container {
  background-color: hsl(0, 0%, 18%);
  background-image: var(--bg);
}

.display {
  background-color: var(--display-bg, #000);
  color: var(--display-fg, #f7f7f7);
  text-align: right;
}

.display::after {
  content: attr(data-display);
  position: absolute;
  bottom: min(60%, 3em);
  right: 1em;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.65);
}

.operator {
  background: var(--btn-operator-bg, (hsl(350, 70%, 60%)));
  color: var(--btn-operator-fg, white);
}
.num {
  background-color: var(--btn-num-bg, hsl(330, 70%, 60%));
  color: var(--btn-num-fg);
}
.equals {
  background-color: var(--btn-equals-bg, hsl(30, 100%, 60%));
  color: var(--btn-equals-fg);
}

:is(.num, .equals, .operator, .display, .calculator-container) {
  border-radius: var(--border-radius);
}

:is(.num, .equals, .operator) {
  opacity: 0.9;
  box-shadow: var(--box-shadow);
}

:is(.num, .equals, .operator):hover,
:is(.num, .equals, .operator):focus {
  outline: 0.1em solid hsl(164, 70%, 90%);
  opacity: 1;
  --btn-equals-fg: rgba(0, 0, 0, 1);
}

.is-selected {
  outline: 0.1em solid hsl(164, 70%, 90%);
}

/* #endregion Calculator */
