/* #region General */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Space Mono', monospace;
  font-size: min(5rem, 8vw);
  min-height: 100vh;
  background-color: gray;
  display: grid;
  place-content: center;
}

button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

/* #endregion General */

/* #region Layout */
.calculator-container {
  background-color: hsl(0, 0%, 18%);
  padding: 0.2em;
  width: min(100vw, 600px);
  height: min(100vh, 850px);
  /* aspect-ratio: 2/3; */
  /* height: 100%; */
  display: grid;
  gap: 0.2em;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-areas:
    'display display display display'
    'plus    minus   times   divide'
    'num7    num8    num9    equals'
    'num4    num5    num6    equals'
    'num1    num2    num3    equals'
    'num0    dot     clear   equals';
}
/* TODO: 手機橫向重排template-areas */
@media (max-width: 812px) {
  @media (orientation: landscape) {
    .calculator-container {
      min-height: 600px !important;
    }
  }
}

.calculator-container > * {
  display: grid;
  place-items: center;
}

.display {
  grid-area: display;
  place-items: end;
  padding: 0.5em;
  font-family: 'Inconsolata', monospace;
  /* font-size: 2.5rem; */
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.times {
  grid-area: times;
}

.divide {
  grid-area: divide;
}
.equals {
  grid-area: equals;
}
.num9 {
  grid-area: num9;
}
.num8 {
  grid-area: num8;
}
.num7 {
  grid-area: num7;
}
.num6 {
  grid-area: num6;
}
.num5 {
  grid-area: num5;
}
.num4 {
  grid-area: num4;
}
.num3 {
  grid-area: num3;
}
.num2 {
  grid-area: num2;
}
.num1 {
  grid-area: num1;
}
.dot {
  grid-area: dot;
}
.clear {
  grid-area: clear;
}
/* #endregion Layout */

/* #region Calculator */
.display {
  background-color: hsl(10, 0%, 10%);
  color: aliceblue;
  text-align: right;
}
.operator {
  background: hsl(350, 70%, 60%);
  opacity: 0.9;
}
.num {
  background-color: hsl(330, 70%, 60%);
}
.equals {
  background-color: hsl(30, 100%, 60%);
}

:is(.num, .equals, .operator):hover,
:is(.num, .equals, .operator):focus {
  outline: 0.1em solid hsl(164, 70%, 90%);
}

.is-selected {
  outline: 0.1em solid hsl(164, 70%, 90%);
}

/* #endregion Calculator */
